.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -100%) scale(0.5);
}

.modal {
  height: 581px;
  width: 528px;
  background-color: #fff;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.5s;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn-close {
  position: absolute;
  top: 0;
  right: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: #afb1b8;
  background-color: #fff;
  margin-top: 8px;
  margin-bottom: 2px;
  padding: 0;
}

.svg-btn {
  width: 11px;
  height: 11px;
}

.modal-btn-close:hover {
  fill: var(--primary-accent-color);
  transition: var(--hover-animation);
  transform: rotate(180deg);
  cursor: pointer;
}

.modal-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  white-space: nowrap;
  letter-spacing: 0.03em;

  margin-top: 40px;
  margin-bottom: 12px;

  color: var(--hr-text-color);
}

.modal-form-input {
  max-width: 448px;
  width: 448px;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #fff;
  color: var(--hr-text-color);
  margin-top: 2px;
  margin-bottom: 5px;
  padding-left: 42px;
}

.form-field-label a {
  color: var(--primary-accent-color);
}

.form-field {
  position: relative;
}

.modal-form-icon {
  width: 18px;
  height: 18px;
  position: absolute;

  top: 34px;
  left: 10px;
}

.modal-form-input:hover,
.modal-form-input:focus {
  outline: none;
  border-color: var(--primary-accent-color);
  cursor: pointer;
}

.form-field:hover .modal-form-icon {
  fill: var(--primary-accent-color);
}

.form-field:focus-within .modal-form-input ~ .modal-form-icon {
  fill: var(--primary-accent-color);
}

.comment {
  height: 120px;
  resize: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 20px;

  color: var(--hr-text-color);
}

.modal-form-input::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.166px;
  letter-spacing: 0.01em;
  padding-top: 5px;

  transition: opacity 0.3s ease;
}

.modal-form-input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.btn-modal-send {
  width: 200px;
  height: 50px;

  background: var(--primary-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  color: #ffffff;
  cursor: pointer;
  margin-top: 30px;
  margin-left: 165px;
  margin-right: 163px;
}

.btn-modal-send:hover {
  background-color: #188ce8;
}

.form-field-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.166px;

  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.form-field-agreement {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-left: 14%;
}

.form-field-agreement a {
  color: var(--primary-accent-color);
}
